name: Run butane to generate ignition file
on:
  push:
    branches:
      - main  # Adjust this branch name if needed
  pull_request:
    branches:
      - main  # Adjust this branch name if needed

env:
  RELEASE_TAG: v1.0.0  # Modify the release tag/version number

jobs:
  build:
    runs-on: macos-latest  # Use the appropriate runner image for macOS
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Butane
        run: |
          brew install butane

      - name: Create Release Directory
        run: |
          mkdir release

      - name: Generate Ignition
        run: |
          make generate_ignition
          cp k8s-node.ign release/

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: release/k8s-node.ign
          tag_name: v1.0.0
